.header {
  padding: 0.5rem;
  background-image: url("../assets/images/daytonight.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 270px;
  position: relative;
}
.main {
  width: 800px;
}
.image img {
  height: 200px;
  /* animation: move ease-in-out 3s infinite; */
}
.image h1 {
  font-size: 24px;
  font-weight: bold;
  color: #fdea3f;
  animation: changeColor linear 4.8s infinite;
}
.local {
  position: absolute;
  font-size: 18px;
  font-weight: bold;
  color: #fdea3f;
  bottom: 0rem;
  left: 50%;
  transform: translate(-50%);
  text-shadow: 0 0 3px rgba(201, 201, 201, 0.3);
  animation: changeColor linear 4.8s infinite;
}
@keyframes move {
  0% {
    transform: translateX(20%);
  }
  50% {
    transform: translateX(80%);
  }
  100% {
    transform: translateX(20%);
  }
}

@keyframes changeColor {
  0% {
    color: #054ca8;
  }
  50% {
    color: #fdea3f;
  }
  100% {
    color: #054ca8;
  }
}
/*   
  div {
    animation-duration: 0.1s;
    animation-name: changewidth;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  } */
