.time-zone {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 1rem 0;
  padding: 1rem 1rem 1rem;
  width: 100%;
  position: relative;
  transition: linear 0.08s;
}
.time-zone:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.1);
}
.time-zone:hover .delete {
  display: block;
}
.time-zone__hours {
  /* font-weight: bold; */
  margin-top: 0.5rem;
}
.utc-name {
  text-align: center;
  font-size: 1rem;
}
.delete {
  font-size: large;
  font-weight: bold;
  color: #dc3545;

  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 500;

  cursor: pointer;
  display: none;
}
.delete img {
  height: 18px;
  opacity: 0.7;
}
.delete img:hover {
  opacity: 1;
}
